
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>



</head>
<body>
    <div style="text-align:center;background-color:orange">
        <h1>Welcome To Our little House</h1>
    </div>
    <div>
        <h3 style="font-size:15px;">
            Hi Sir/Madam
        </h3>
        <p>
            We just need to verify your Email address for complete your registration!
            click <a  href="@ViewBag.ConfirmationLink" style="padding-left:25px;">Here</a>
        </p>
    </div>
</body>
</html>
